@use "../../helpers" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(50);
  height: rem(50);
  border-radius: 50%;
  flex-shrink: 0;
  transition: all 0.01s;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-light);

  &:active {
    outline: var(--border);
    background-color: var(--color-dark-10);
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;

    &:active {
      outline: none;
      background-color: var(--color-dark-20);
    }
  }

  &--wide {
    width: auto;
    height: auto;
    min-height: rem(36);
    border-radius: rem(8);
    background-color: var(--color-dark-20);
    font-weight: 500;
    padding: rem(8) rem(16);
    white-space: nowrap;
    line-height: 1;
  }

  &--back {
    @include tablet-above {
      display: none;
    }
  }
}
