@use "../../helpers" as *;

.loader {
  display: flex;
  flex-direction: column;
  gap: rem(10);
  align-items: center;
  &-wheel {
    height: rem(70);
    width: rem(70);
    aspect-ratio: 1;
    border-radius: 50%;
    border: rem(3) dashed var(--color-accent);
    animation: rotate 3s infinite linear;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
