@use "../../helpers" as *;

.modal {
  width: 22vw;
  color: var(--color-light);
  padding: rem(30);
  border-radius: rem(20);
  background-color: var(--color-gray);
  box-shadow: 0 rem(10) rem(30) rgba(0, 0, 0, 0.3);

  @include abs-center;

  @include tablet {
    width: 65vw;
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }

  &-label {
    font-weight: 700;
    font-size: rem(24);
  }

  &-input {
    width: 100%;
    padding: rem(12);
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    border-bottom: rem(1) solid var(--color-light);
    color: var(--color-light);
  }
}
